## Custom values for the JFrog Platform Helm Chart

global:
  ## IMPORTANT: Artifactory masterKey and joinKey are immutable and should not be changed after the first installation.
  # Generate a random join key with 'openssl rand -hex 32'
  joinKey: AAAEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE456
  # Generate a random master key with 'openssl rand -hex 32'
  masterKey: aaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb456

  # Since we are using an external postgresql, skip the initDBCreation
  database:
    initDBCreation: false

# Disable the PostgreSQL deployment
postgresql:
  enabled: false

artifactory:
  artifactory:

    ## Artifactory to use S3 for filestore
    persistence:
      enabled: false
      type: s3-storage-v3-direct
      awsS3V3:
        testConnection: false
        endpoint: s3.amazonaws.com
        path: artifactory/filestore
        useInstanceCredentials: true

    ## Require multiple Artifactory pods to run on separate nodes
    podAntiAffinity:
      type: "hard"

    ## Run on nodes marked with the label "group=artifactory"
    nodeSelector:
      group: "artifactory"

  ## Disable metadata until issue fixed
  metadata:
    enabled: false

  ## Nginx
  nginx:
    disableProxyBuffering: true

    ## Logs options
    logs:
      stderr: true
      stdout: true
      level: warn

    ## Run on nodes marked with the label "group=nginx"
    nodeSelector:
      group: "nginx"

  ## Don't use the PostgreSQL chart
  postgresql:
    enabled: false

  database:
    type: postgresql
    driver: org.postgresql.Driver

  databaseUpgradeReady: true

# Enable Xray
xray:
  enabled: true
  unifiedUpgradeAllowed: true
  postgresql:
    enabled: false
  common:
    persistence:
      enabled: false

  ## Run on nodes marked with the label "group=xray"
  nodeSelector:
    group: "xray"

# RabbitMQ is required for Xray
rabbitmq:
  enabled: true
  persistence:
    enabled: false # Disable persistence for RabbitMQ until issue with EBS provisioning is fixed

  # Run on nodes marked with the label "group=xray"
  nodeSelector:
    group: "xray"

# Disable other services
distribution:
  enabled: false

insight:
  enabled: false

pipelines:
  enabled: false

redis:
  enabled: false
